In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('car.csv')
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [13]:
df.shape
df['enginelocation'].nunique()

2

In [23]:
df = df[['fueltype','carbody','drivewheel']]

In [24]:
df.sample(5)

    fueltype    carbody drivewheel
54       gas      sedan        fwd
50       gas  hatchback        fwd
90    diesel      sedan        fwd
48       gas      sedan        rwd
159   diesel  hatchback        fwd

In [20]:
# ONE HOT ENCODING USING PANDAS..
df1 = pd.get_dummies(df, columns = ['fueltype', 'carbody'], drop_first = True)
# drop_first remove the first col that is encoded..
df1.shape

(205, 6)

In [25]:
# by using scikit learn..
from sklearn.preprocessing import OneHotEncoder

In [37]:
ohe = OneHotEncoder()

In [38]:
newdf = ohe.fit_transform(df[['fueltype', 'carbody']]).toarray()

In [39]:
newdf = np.hstack((df[['drivewheel']].to_numpy(), newdf))

In [41]:
newdf

array([['rwd', 0.0, 1.0, ..., 0.0, 0.0, 0.0],
       ['rwd', 0.0, 1.0, ..., 0.0, 0.0, 0.0],
       ['rwd', 0.0, 1.0, ..., 1.0, 0.0, 0.0],
       ...,
       ['rwd', 0.0, 1.0, ..., 0.0, 1.0, 0.0],
       ['rwd', 1.0, 0.0, ..., 0.0, 1.0, 0.0],
       ['rwd', 0.0, 1.0, ..., 0.0, 1.0, 0.0]],
      shape=(205, 8), dtype=object)

In [42]:
## ONE HOT ENCODING ON TOP CATGORIES..
df1 = pd.read_csv('car.csv')

In [43]:
df1.sample(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
27,28,1,dodge coronet custom,gas,turbo,two,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558.0
12,13,0,bmw x1,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970.0
107,108,0,peugeot 504,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,11900.0
187,188,2,volkswagen super beetle,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.40,23.0,68,4500,37,42,9495.0
99,100,0,nissan rogue,gas,std,four,hatchback,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,8949.0

In [44]:
df1['carbody'].value_counts()

carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64

In [56]:
## making the columns having the value counts greater than or equal to 25 are encoded independently and we are kepting others to be in one columns named as 'unknowm'
counts = df1['carbody'].value_counts()

In [57]:
threshold = 25
repl = counts[counts < 25].index

In [58]:
pd.get_dummies(df['carbody'].replace(repl,'Unknown'))

     Unknown  hatchback  sedan  wagon
0       True      False  False  False
1       True      False  False  False
2      False       True  False  False
3      False      False   True  False
4      False      False   True  False
..       ...        ...    ...    ...
200    False      False   True  False
201    False      False   True  False
202    False      False   True  False
203    False      False   True  False
204    False      False   True  False

[205 rows x 4 columns]