In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('synthetic.csv')
df.sample(10)

     Category   Price    Rating         Stock  Discount
3243      NaN   442.0  4.035409           NaN       4.0
3501      NaN  1882.0  1.283691  Out of Stock      47.0
1202      NaN   251.0  1.033156  Out of Stock      44.0
4014      NaN  4192.0       NaN  Out of Stock      47.0
3551      NaN  1861.0       NaN           NaN      44.0
3509        D  3612.0  3.805960           NaN       NaN
3352      NaN  8331.0  1.369867      In Stock       8.0
3697      NaN  7678.0  4.201777  Out of Stock      49.0
191       NaN  4620.0  4.340548           NaN      10.0
1786      NaN  9933.0       NaN           NaN      36.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4362 entries, 0 to 4361
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  1614 non-null   object
 1   Price     4188 non-null   float64
 2   Rating    2312 non-null   float64
 3   Stock     3010 non-null   object
 4   Discount  3970 non-null   float64
dtypes: float64(3), object(2)
memory usage: 170.5+ KB

In [5]:
## Category and stock are the categorical data..
df = df.drop(['Price', 'Rating', 'Discount'], axis = 1)

In [6]:
df.head(5)

  Category         Stock
0      NaN           NaN
1      NaN           NaN
2      NaN      In Stock
3      NaN           NaN
4      NaN  Out of Stock

In [12]:
df['Category'] = df['Category'].fillna(df['Category'].mode()[0], axis = 0)
df['Stock'] = df['Stock'].fillna(df['Stock'].mode()[0], axis = 0)

In [13]:
df.sample(10)

     Category         Stock
1481        C      In Stock
2790        B  Out of Stock
620         B      In Stock
3792        C  Out of Stock
3181        C  Out of Stock
1508        A      In Stock
2001        C      In Stock
53          C      In Stock
2160        C      In Stock
1748        B      In Stock

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [32]:
oe = OrdinalEncoder()
from sklearn.model_selection import train_test_split

In [45]:
X,x,Y,y = train_test_split(df.iloc[:,0:1], df.iloc[:,1:2], test_size = 0.3, random_state = 0)
X_encoded = oe.fit_transform(X)

In [50]:
X_encoded = pd.DataFrame(X_encoded, columns = ['Category'])
X_encoded.sample(5)

      Category
2269       2.0
2963       2.0
39         2.0
1484       1.0
1194       2.0

In [47]:
## Ordinal Encoder is always use dto encode the ordinal categorical data but the features must be used for input in the model training
## whereas Lable Encoder is used to encode the ordinalcategprical data but the feature must be used for output or target..

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

Y_encoded = le.fit_transform(Y)
Y_encoded = pd.DataFrame(Y_encoded, columns = Y.columns)

Y_encoded.sample(10)

C:\Users\abhay\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      Stock
2467      0
2285      0
2582      1
501       0
929       0
1032      1
1992      1
2680      0
207       1
1211      0