In [3]:
import pandas as pd
df = pd.read_csv("football.csv")

In [5]:
# how big data is??
df.shape

(121, 33)

In [6]:
# how does data is look like??
# use df.head() or df.sample() or df.tail() but sample is more imp to check or see 5 random rows..
df.sample(5)

,Unnamed: 0,app_temp,clouds,clouds_hi,clouds_low,clouds_mid,datetime,dewpt,dhi,dni,...,timestamp_utc,ts,uv,vis,weather,wind_cdir,wind_cdir_full,wind_dir,wind_gust_spd,wind_spd
43,43,28.9,5,0,0,0,2025-12-17:05,22.8,0,0,...,2025-12-17T05:00:00,1765947600,0,14.9,"{'description': 'Few clouds', 'icon': 'c02n', ...",SSW,south-southwest,210,6.6,2.4
2,2,12.4,4,0,0,0,2025-12-15:12,0.7,0,0,...,2025-12-15T12:00:00,1765800000,0,14.9,"{'description': 'Few clouds', 'icon': 'c02n', ...",NNW,north-northwest,340,7.6,3.6
118,118,26.8,8,79,0,11,2025-12-20:08,21.9,0,0,...,2025-12-20T08:00:00,1766217600,0,14.9,"{'description': 'Few clouds', 'icon': 'c02n', ...",NNE,north-northeast,16,3.0,4.3
11,11,34.7,2,0,0,0,2025-12-15:21,8.2,54,484,...,2025-12-15T21:00:00,1765832400,2,14.9,"{'description': 'Few clouds', 'icon': 'c02d', ...",SW,southwest,230,4.3,1.8
79,79,54.7,58,0,91,97,2025-12-18:17,46.6,99,817,...,2025-12-18T17:00:00,1766077200,2,14.9,"{'description': 'Broken clouds', 'icon': 'c03d...",SSE,south-southeast,153,10.6,5.4

In [8]:
# checking the datatypes of the dataset?/
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       121 non-null    int64
 1   app_temp         121 non-null    float64
 2   clouds           121 non-null    int64
 3   clouds_hi        121 non-null    int64
 4   clouds_low       121 non-null    int64
 5   clouds_mid       121 non-null    int64
 6   datetime         121 non-null    object
 7   dewpt            121 non-null    float64
 8   dhi              121 non-null    int64
 9   dni              121 non-null    int64
 10  ghi              121 non-null    int64
 11  ozone            121 non-null    int64
 12  pod              121 non-null    object
 13  pop              121 non-null    int64
 14  precip           121 non-null    float64
 15  pres             121 non-null    int64
 16  rh               121 non-null    int64
 17  slp              121 non-null    int64
 18  snow             121 non-null    int64
 19  snow_depth       121 non-null    int64
 20  solar_rad        121 non-null    float64
 21  temp             121 non-null    float64
 22  timestamp_local  121 non-null    object
 23  timestamp_utc    121 non-null    object
 24  ts               121 non-null    int64
 25  uv               121 non-null    int64
 26  vis              121 non-null    float64
 27  weather          121 non-null    object
 28  wind_cdir        121 non-null    object
 29  wind_cdir_full   121 non-null    object
 30  wind_dir         121 non-null    int64
 31  wind_gust_spd    121 non-null    float64
 32  wind_spd         121 non-null    float64
dtypes: float64(8), int64(18), object(7)
memory usage: 31.3+ KB

In [10]:
# checking the missing values in the dataset..
df.isnull().sum() 
# above function will give the number of missing values in a col..

Unnamed: 0         0
app_temp           0
clouds             0
clouds_hi          0
clouds_low         0
clouds_mid         0
datetime           0
dewpt              0
dhi                0
dni                0
ghi                0
ozone              0
pod                0
pop                0
precip             0
pres               0
rh                 0
slp                0
snow               0
snow_depth         0
solar_rad          0
temp               0
timestamp_local    0
timestamp_utc      0
ts                 0
uv                 0
vis                0
weather            0
wind_cdir          0
wind_cdir_full     0
wind_dir           0
wind_gust_spd      0
wind_spd           0
dtype: int64

In [11]:
# how does data look like mathematically...
df.describe()

,Unnamed: 0,app_temp,clouds,clouds_hi,clouds_low,clouds_mid,dewpt,dhi,dni,ghi,...,snow,snow_depth,solar_rad,temp,ts,uv,vis,wind_dir,wind_gust_spd,wind_spd
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,...,121.0,121.0,121.000000,121.000000,1.210000e+02,121.000000,121.000000,121.000000,121.000000,121.000000
mean,60.000000,38.718182,29.768595,39.280992,14.438017,29.438017,27.704959,29.512397,251.859504,123.809917,...,0.0,0.0,117.096941,39.958678,1.766009e+09,0.719008,14.514876,219.173554,7.338843,5.085950
std,35.073732,12.876866,28.553389,45.441578,31.094987,42.955964,15.473250,40.052698,340.639651,186.189613,...,0.0,0.0,176.684902,11.528730,1.262654e+05,1.026508,1.711951,71.800148,3.443408,4.039128
min,0.000000,9.700000,1.000000,0.000000,0.000000,0.000000,-2.400000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,16.500000,1.765793e+09,0.000000,2.300000,10.000000,1.800000,0.900000
25%,30.000000,28.600000,4.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,30.700000,1.765901e+09,0.000000,14.900000,200.000000,4.900000,2.400000
50%,60.000000,38.500000,14.000000,7.000000,0.000000,0.000000,24.100000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,38.300000,1.766009e+09,0.000000,14.900000,220.000000,6.600000,3.600000
75%,90.000000,51.600000,58.000000,100.000000,1.000000,89.000000,37.400000,71.000000,632.000000,239.000000,...,0.0,0.0,237.366230,51.600000,1.766117e+09,2.000000,14.900000,240.000000,9.800000,6.300000
max,120.000000,60.100000,89.000000,100.000000,100.000000,100.000000,56.700000,99.000000,817.000000,514.000000,...,0.0,0.0,513.611800,60.100000,1.766225e+09,3.000000,14.900000,360.000000,16.800000,17.400000

In [12]:
# are there duplicates value to remove redundancy in the dataset..?
df.duplicated().sum()

np.int64(0)

In [15]:
# checking the correlation between the cols...
df = df[["app_temp", "clouds", "clouds_hi", "clouds_low", "clouds_mid"]]
df.corr()["app_temp"]

app_temp      1.000000
clouds        0.729835
clouds_hi     0.286882
clouds_low    0.583063
clouds_mid    0.622178
Name: app_temp, dtype: float64